body {
  font-family: 'Avenir',   Helvetica, Arial, sans-serif;
  margin-top: 50px;
}
nav {
  button {
    color: white;
  }
  background: #5F605F !important;
  #navbar {
    ul{
      a{
        color: #CFCFCF;
        &:hover{
          color: white;
        }
      }
      .active {
        a{
          background-color: #70C1B3;
          color: white;
        }
      }
    }
  };
 .navbar-brand {
   font-size: 1.5em;
   position: relative;
   left: 10%;
   color: white !important;
  }
}

.about-me {
  background: #FFEB9D;
  width:100%;
  height: auto;
  .about-content {
    margin:50px 0 70px 0;
  }
  h2 {
    color: #424341;
    font-weight: 300;
  }
  p {
    font-size: 1.5em;
  }
  img {
    width: 150px;
    height: 150px;
  }
  .skills {
    margin-top: 80px;
    ul {
      li {
        margin-top: 30px;
        margin-left: -25px;
        list-style: none;
        font-size: 1.8em;
        color: #457B9D;
      }
    }
  }
}

.portfolio-me {
  width:100%;
  height: auto;
  background: #5F9FB9;
  .portfolio-content {
    margin:20px 0 50px 0;
  }
  .portfolio-img {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
      img-item: {
        flex: 0 0 33.3%;
      }
    }
  img {
    width: 350px;
    height: 250px;
    margin-bottom: 50px;
  }
  h2 {
    color: white;
  }
  h4 {
    color: white;
  }
  .portfolio-word {
    margin-bottom:20px;
  }
}

.contact-me {
  width:100%;
  height: 100%;
  background: #F58A88;
  .contact-content {
    margin: 20px 0 50px 0;
  }
  .contact-word {
    margin-top: 100px;
  }
  h2 {
    color: white;
  }
  p{
    color: white;
    font-size: 1.5em;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: #457B9D;
      }
    } 
  }
  .contact-network {
    a {
      color: white;
      margin-right: 20px;
      position: relative;
      top: 30px;
    }
  }
}

footer {
  width: 100%;
  height: 50px;
  background: #B1DDD5;
  text-align: center;
  p{
    margin-top: 10px;
    color: white;
    font-size: 1.5em;
  }
}
