@import './colors.scss';
html {
  height: 100%;
  width: 100%;
  background: $background;
  body {
    margin: 60px 0 0 0;
    padding: 0;
    font-family: 'Gloria Hallelujah', sans-serif;
    font-size: 16px;
  }
}
h1 {
  color: $title;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
#json {
  font-family: monospace;
  line-height: 2
}

header {
  text-align: center;
  margin-bottom: 40px;
  .head-img {
    img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }
  }
}

div.body {
  margin: 0 auto;
  .body-content {
    text-align: center;
    margin-bottom: 40px;
    .blog {
      -webkit-animation: blogAnimation 2s;
              animation: blogAnimation 2s;
      &:hover {
        text-decoration: line-through;
      }
    }
    .tooltip {
      font-size: 1rem;
      top: 220px !important;
    }
    .name {
      display: inline-block;
      width: 17ch;
      color: $nomralWord;
      font-family: 'Gloria Hallelujah', sans-serif;
      overflow: hidden;
      white-space: nowrap;
      font-weight: 500;
      border-right: 1px solid transparent;
      -webkit-animation: typing 4s steps(17), caret .5s steps(1) 17;
              animation: typing 4s steps(17), caret .5s steps(1) 17;
    }
  }
  .body-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    .wired-button {
      background: #fff;
      width: 100px;
      &:hover {
        i {
          font-size: 1.6rem;
          -webkit-transition: .3s;
          -webkit-transition: .3s;
          transition: .3s;
        }
      }
    }
    i {
      font-size: 1.2rem;
    }
    .twitter {
      color: $twitter;
    }
    .github {
      color: $github;
    }
    .codepen {
      color: $codepen;
    }
    .weibo {
      color: $weibo;
    }
  }
  .body-intro {
    margin: 40px 0 60px 0;
    text-align: center;
    .wired-card {
      text-align: left;
      padding: 20px 60px;
      .intro-title {
        border-bottom: 1px solid;
        padding-bottom: 10px;
      }
    }
  }
  .body-time {
    padding: 0 20px;
    margin: 40px 0;
    .wired-progress {
      width: 100%;
    }
  }
  .body-email {
    padding: 0 20px;
    .wired-card {
      padding: 20px;
    }
  }
}
footer.footer {
  width: 100%;
  margin: 60px 0 40px 0;
  text-align: center;
}

@media (min-width: 768px) {
  div.body {
    width: 700px;
  }
}
@media (max-width: 768px) {
  div.body {
    .body-link {
      padding: 0 40px;
      .wired-button {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .body-intro {
      margin: 20px 10px;
      .wired-card {
        text-align: left;
        padding: 20px;
      }
    }
  }
}

@-webkit-keyframes blogAnimation() {
  from: {
    font-size: 3rem;
  }
  to: {
    font-size: 1rem;
  }
}

@-webkit-keyframes blogAnimation {
  from {
    font-size: 3rem;
  }
  to {
    font-size: 1rem;
  }
}

@keyframes blogAnimation {
  from {
    font-size: 1rem;
  }
  to {
    font-size: 1.6rem;
  }
}

@-webkit-keyframes typing{
  from {
    width: 0;
  }
  to {
    font: 100% Consolas, Monaco, monospace;   /*等宽字体*/
  }
}

@keyframes typing{
  from {
    width: 0;
  }
}
@-webkit-keyframes caret{
  50% { border-right-color: currentColor}
}
@keyframes caret{
  50% { border-right-color: currentColor}
}
